{% extends "base.html" %}

{% block title %}Laboremos SA - Administrador{% endblock %}

{% block body %}
{% include "header.html" %}
{% if hojadevida %}
<h2>Editar Hoja de Vida</h2>
<div class="col-8">
    <form method="post">
        <input type="hidden" name="id" id="id" value="{{hojadevida.id}}">
        <div class="form-group">
            <label for="cliente">Asociar Cliente a Hoja de Vida</label>
            <select class="form-control" id="cliente" name="cliente">
                <option value="">Seleccione</option>
                {% for cliente in clientes %}
                <option value="{{cliente.id}}" {%if cliente.id == hojadevida.cliente %} selected {%endif%}>{{cliente.nombre_cliente}}</option>
                {% endfor %}
            </select>
        </div>
        <h3>Estudios</h3>
        <hr>

        <div id="estudio[]" class="row semilla d-none">
            <input value="" type="hidden" id="estudio_id[]" name="estudio_id[]">
            <div class="form-group col">
                <label for="nombre_estudio[]">Nombre del Estudio</label>
                <input value="{{estudio.nombre_estudio}}" type="text" class="form-control" id="nombre_estudio[]" name="nombre_estudio[]">
            </div>
            <div class="form-group col">
                <label for="nivel[]">Nivel</label>
                <select class="form-control" id="nivel[]" name="nivel[]">
                    <option value="">Seleccione</option>
                    {% for nivel in niveles %}
                    <option value="{{nivel}}" {%if nivel == estudio.nivel%} selected {%endif%}>{{nivel|title}}</option>
                    {% endfor%}
                </select>
            </div>
            <div class="form-group col">
                <label for="fecha_inicio[]">Fecha Inicio</label>
                <input value="{{estudio.fecha_inicio}}" type="date" class="form-control" id="fecha_inicio[]" name="fecha_inicio[]">
            </div>
            <div class="form-group col">
                <label for="fecha_fin[]">Fecha Finalizacion</label>
                <input value="{{estudio.fecha_fin}}" type="date" class="form-control" id="fecha_fin[]" name="fecha_fin[]">
            </div>
            <div class="form-check-inline">
                <input class="form-check-input" type="checkbox" value="" id="eliminar[]" name="eliminar[]">
                <label class="form-check-label" for="eliminar[]">
                    ¿Eliminar?
                </label>
            </div>
        </div>
        <div id="estudios">
            {% for estudio in estudios %}
            <div id="estudio[{{loop.index}}]" class="row">
                <input value="{{estudio.id}}" type="hidden" id="estudio_id[{{loop.index}}]" name="estudio_id[{{loop.index}}]">
                <div class="form-group col">
                    <label for="nombre_estudio[{{loop.index}}]">Nombre del Estudio</label>
                    <input value="{{estudio.nombre_estudio}}" type="text" class="form-control" id="nombre_estudio[{{loop.index}}]" name="nombre_estudio[{{loop.index}}]">
                </div>
                <div class="form-group col">
                    <label for="nivel[{{loop.index}}]">Nivel</label>
                    <select class="form-control" id="nivel[{{loop.index}}]" name="nivel[{{loop.index}}]">
                        <option value="">Seleccione</option>
                        {% for nivel in niveles %}
                        <option value="{{nivel}}" {%if nivel == estudio.nivel%} selected {%endif%}>{{nivel|title}}</option>
                        {% endfor%}
                    </select>
                </div>
                <div class="form-group col">
                    <label for="fecha_inicio[{{loop.index}}]">Fecha Inicio</label>
                    <input value="{{estudio.fecha_inicio}}" type="date" class="form-control" id="fecha_inicio[{{loop.index}}]" name="fecha_inicio[{{loop.index}}]">
                </div>
                <div class="form-group col">
                    <label for="fecha_fin[{{loop.index}}]">Fecha Finalizacion</label>
                    <input value="{{estudio.fecha_fin}}" type="date" class="form-control" id="fecha_fin[{{loop.index}}]" name="fecha_fin[{{loop.index}}]">
                </div>
                <div class="form-check-inline">
                    <input class="form-check-input" type="checkbox" value="" id="eliminar[{{loop.index}}]" name="eliminar[{{loop.index}}]">
                    <label class="form-check-label" for="eliminar[{{loop.index}}]">
                        ¿Eliminar?
                    </label>
                </div>
            </div>
            {%endfor %}
        </div>
        <button type="button" class="btn btn-secondary" onclick="" id="agregarEstudio">Agregar Otro Estudio {% include "icons/agregar.html"%}</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% else %}
<h2>Agregar Hoja de Vida</h2>
<div class="col-8">
    <form method="post">
        <input type="hidden" name="id" id="id" value="">
        <div class="form-group">
            <label for="cliente">Asociar Cliente a Hoja de Vida</label>
            <select class="form-control" id="cliente" name="cliente">
                <option value="">Seleccione</option>
                {% for cliente in clientes %}
                <option value="{{cliente.id}}">{{cliente.nombre_cliente}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>
{% endif %}

<script>
    $('#agregarEstudio').click( function() {
        $("#estudios").append(
                $(".semilla").clone()
        );
        $("#estudios").find(".semilla").removeClass("d-none").removeClass("semilla")
    });
</script>
{% endblock %}